@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

$custom-font: 'Nanum Gothic', sans-serif;
$font-family-base: $custom-font;

//배경색
$primary: #EF857B;
// $success:
// $info:
// $warning:
// $danger:
// $secondary:
// $light: